service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if uid == request.auth.uid;
      allow create: if request.auth != null &&
                    request.resource.data.nom is string &&
                    request.resource.data.prenom is string &&
                    request.resource.data.email is string;
    }
    match /photos/{uid}{
      allow read: if request.auth != null;
      allow create: if request.auth != null &&
                    request.resource.size < 10 * 1024 * 1024 && // Limiter la taille à 10 Mo
                    request.resource.contentType.matches('image/.*') &&
                    resource == null; // Permet seulement la création si aucun document photo n'existe pour cet utilisateur
      allow update, delete: if request.auth != null &&
                             resource != null &&
                             resource.data.uid == request.auth.uid; // Autoriser la mise à jour et la suppression si l'utilisateur est propriétaire du document
    }
  }
}
